/*==========================================
BÁSICOS
============================================*/
html {
  position: absolute !important;
}
html,
body {
  margin: 0 auto;
}

body,
.menu-thumb,
.group-container {
  position: relative !important;
}

.verticalCenter {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.imageContent,
.globalImage,
h1,
h2,
h3,
.page,
.element,
section,
div,
.btn,
.texts {
  position: absolute;
}

#book-container{
  background-color: #fff;
}

#book-container,
section {
  width: 100%;
  height: 100%;
}
.texts, .btn {
  z-index: 1000000;
}
.btn{
  text-indent: -10000px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  &:hover{
    transform: scale(0.9);
  }
}

/*--------------------------------
             preloader
---------------------------------*/

#loading {
  z-index: 10000;
  width: 50px;
  height: 50px;
  background-size: contain;
  display: none;
}

.preload-images {
  display: none;
}

#preload {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0 !important;
  z-index: 999;
  background: black;
  .container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  p {
    color: white;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    width: 100%;
    height: 20px;
    bottom: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fadeIn {
  animation: FadeIn 0.4s ease-in forwards;
  overflow: hidden;
  .container {
    display: none;
  }
}

/*==========================================
BOOK
============================================*/

html,
body,
#root,
.page {
  width: 100%;
  height: 100%;  /* Chrome, Safari, Edge */
  print-color-adjust: exact !important;                 /*Firefox*/
}

@page { /* Chrome, Safari, Edge */
  print-color-adjust: exact !important;                 /*Firefox*/
}


@media print{@page {size:297mm 210mm }}
@media (max-width: 600px) {
  @page {
    width:100%;
  }
}
  

.book-container {
  overflow: hidden;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*******************************************
                Swiper
*******************************************/

.menu-thumbs {
  background-image: url(../img/thumbs/bg_es.png);
  background-size: contain;
  width: 100%;
  padding: 5px 0;
  z-index: 1000001;
  display: flex;
  align-items: center;
  height: auto;
}

.menu-thumbs, .btn-menu{
  transition: .4s ease-in-out;
}

.contenedor-swiper{
  bottom: 0;    
  margin: 0 0 0 auto;
  top: 0;
  width: 70%;
  position: relative;
}

.swiper-container {
  height: auto;
  align-items: center;
  bottom: 0;
  display: flex;
  margin: auto;
  position: static !important;
  left: 0;
  right: 0;
  top: 0;
  width: calc(100% - 140px);
}

.swiper-wrapper {
  height: auto;
  position: relative;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s;
  a{
    background-size: 100% 100%;
  }
}

.swiper-slide :hover {
  transform: scale(1.01);
}
.swiper-button-prev,
.swiper-button-next {
  width:51px;
  height: 60px;
  background-image: url("../img/botones.png");
}

.swiper-button-prev {
  left: -10px;
  background-position: -248px -364px;
}

.swiper-button-next {
  background-position: -213px -407px;
}


